@media(max-width:992px) {
    .d_none {
        display: none !important;
    }
    .d-block-992{
        display: block !important;
    }

    label[for="menubar"] {
        display: flex;
        width: 30px;
        height: 25px;
        flex-direction: column;
        position: relative;
        z-index: 3;
        cursor: pointer;
        justify-content: space-between;
    }

    label[for="menubar"]>span {
        display: flex;
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background-color: #000;
        justify-content: space-between;
        cursor: pointer;

    }

    .z-index {
        z-index: 1;
    }

    ul.Mobile-view {
        
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: lightgreen;
        color: white;
        flex-direction: column;
        z-index: 2;
        transition: all 200ms linear;
    }

    input[type="checkbox"][id="menubar"]:checked+ul.Mobile-view {
        left: 0;
    }

    .col-12 {
        width: 100%;
        padding-left: 12px;
        padding-bottom: 12px;
    }

    .w-50 {
        width: 50%;
    }

    .w-md-60 {
        width: 60%;
    }

    .text-md-center {
        text-align: center ;
    }

    .hero-section {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
    }

    .mt-md-35 {
        margin-top: 35px;
    }

    .flex-md-col {
        flex-direction: column-reverse !important;
    }

    .fs-md-25 {
        font-size: 25px;
    }

    .w-md-95 {
        width: 95%;
    }

    .mt-md-16 {
        margin-top: 16px;
    }

    .mb-md-16 {
        margin-bottom: 16px;
    }

    .mb-md-sm-15 {
        margin-bottom: 15px;
    }
    .mt-md-25{
        margin-top: 25px !important;
    }
    .mt-md-50{
        margin-top: 50px !important;
    }
    .pt-md-25{
        padding-top: 25px;
    }
    .pb-md-25{
        padding-bottom: 25px;
    }
    .mt-md-100{
        margin-top: -100px !important;
    }

}

@media (max-width:576px) {
    .fs-14 {
        font-size: 14px;
    }

    .fs-24 {
        font-size: 24px;
    }

    .fs-16 {
        font-size: 16px;
    }

    .fs-48 {
        font-size: 25px;
    }

    .fs-18 {
        font-size: 18px;
    }

    .heading-1 {
        font-size: 30px;
        font-weight: 700;
    }

    .hero-section {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .hero-section .w_50 {
        width: 100%;
    }

    .text_ctr_576sm {
        text-align: center;
    }

    .p_24_80 {
        padding: 20px;
    }

    .flex-col-xsm {
        flex-direction: column;
    }

    .border {
        border-left: 2px solid transparent !important;
        border-right: 2px solid transparent !important;
    }

    .pt-xsm {
        padding-top: 20px;
    }

    .pb-xsm {
        padding-bottom: 20px;
    }

    .mt-xsm-20 {
        margin-top: 20px !important;
    }

    .flex-wrap-md {
        flex-wrap: wrap;
    }

    .text-xsm-center {
        text-align: center;
    }

    .w-xsm-28 {
        width: 28%;
    }

    .w-xsm-70 {
        width: 70%;
    }


}

@media (max-width:768px) {
    .mt-xsm-sm-16 {
        margin-top: 16px;
    }

    .flex-col-sm {
        flex-direction: column;
    }

    .mb-sm-10 {
        margin-bottom: 10px;
    }
}

@media (min-width:576px) {
    .fs-14 {
        font-size: 14px;
    }

    .fs-24 {
        font-size: 24px;
    }

    .fs-16 {
        font-size: 16px;
    }

    .fs-48 {
        font-size: 40px;
    }

    .fs-18 {
        font-size: 18px;
    }

    .heading-1 {
        font-size: 40px;
        font-weight: 700;
    }
    .container .hero-section .w_50 {
        width: 100%;
    }

    .text_ctr_576sm {
        text-align: center;
    }

    .p_24_80 {
        padding: 24px;
    }

    .mt-xsm-sm {
        margin-top: 20px;
    }

    .border {
        border-left: 2px solid #00A015;
        border-right: 2px solid #00A015;
    }

    .w-80-sm {
        width: 100%;
    }

    .w-sm-48 {
        width: 49%;
    }



}

@media (min-width:768px) {
    .fs-14 {
        font-size: 14px;
    }

    .fs-24 {
        font-size: 24px;
    }

    .fs-16 {
        font-size: 16px;
    }

    .fs-48 {
        font-size: 48px;
    }

    .fs-18 {
        font-size: 18px;
    }

    .heading-1 {
        font-size: 45px;
        font-weight: 700;
    }

    .container .hero-section .w_50 {
        width: 50%;
    }

    .text_ctr_576sm {
        text-align: start;
    }

    .p_24_80 {
        padding: 24px 80px;
    }

    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-bottom: 12px
    }

    .d-md-flex {
        display: flex;
        justify-content: center;

    }

    .flex-md-column {
        flex-direction: column;
    }

    .col-md-4 {
        width: 33.33%;
    }

}




@media (min-width:992px) {
    .fs-14 {
        font-size: 14px;
    }

    .fs-24 {
        font-size: 24px;
    }

    .fs-16 {
        font-size: 16px;
    }

    .fs-48 {
        font-size: 48px;
    }

    .fs-18 {
        font-size: 18px;
    }

    .heading-1 {
        font-size: 50px;
        font-weight: 700;
    }

    .w-lg-100 {
        width: 100%;
    }

    .d_block992 {
        display: block ;
    }

    .d_none992 {
        display: none;
    }

    .p_24_80 {
        padding: 24px 80px;
    }

    .w-80-sm {
        width: 50%;
    }

    /* .navbar .menu-btn i{
        color: #b1b1b1;
        font-size: 22px;
        display: none;
    } */
    .display-flex {
        display: flex;
    }

    .w_50 {
        width: 60%;
    }

    .hero-section {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mt-lg-22 {
        margin-top: 22px;
    }

    .mb-lg-152 {
        margin-bottom: 152px;
    }

    .pt-lg-151 {
        padding-top: 151px;
    }
    .mt-lg-151{
        margin-top: 151px !important;
    }
    .justify-lg-start{
        justify-content: start !important;
    }
    .mb-lg-152{
        margin-bottom: 152px;
    }
    .pt-lg-92{
        padding-top: 92px;
    }
    .pb-lg-92{
        padding-bottom: 92px;
    }
    .pb-lg-124{
        padding-bottom: 124px;
    }


}

@media (min-width:1200px) {
    .fs-14 {
        font-size: 14px;
    }

    .fs-24 {
        font-size: 24px;
    }

    .fs-16 {
        font-size: 16px;
    }

    .fs-48 {
        font-size: 48px;
    }

    .fs-18 {
        font-size: 18px;
    }

    .heading-1 {
        font-size: 60px;
        font-weight: 700;
    }

    .hero-section {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .p_24_80 {
        padding: 24px 80px;
    }


}

@media (min-width:1400px) {
    .fs-14 {
        font-size: 14px;
    }

    .fs-24 {
        font-size: 24px;
    }

    .fs-16 {
        font-size: 16px;
    }

    .fs-48 {
        font-size: 48px;
    }

    .fs-18 {
        font-size: 18px;
    }

    .heading-1 {
        font-size: 60px;
        font-weight: 700;
    }

    .hero-section {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .p_24_80 {
        padding: 24px 80px;
    }
}